<%
String id_cantor="23";

if(request.getParameter("cantor")!=null)
{
	id_cantor=request.getParameter("cantor");
}

else
{
	   response.sendRedirect("index.jsp");
}

Cantores cantor = connectDB.getCantor(id_cantor);
ArrayList<Musicas> musicas = connectDB.getMusicas(cantor.nomeCantor);
ArrayList<String> albuns = connectDB.getAlbumCantor(id_cantor);
String generoCantor=connectDB.getGeneroCantor(cantor.generoCantor);

%>


<div class="col-md-12">
    <div class="row">
      <div class="col-md-2">
          <img src="content/img/<%=cantor.nomeFoto%>" alt="..." class="img-thumbnail img-responsive" >
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-12">
            <h3> <%=cantor.nomeCantor %> </h3>
          </div>
          <div class="col-md-8">
            <h5 style="margin-bottom: 30px;"><%=cantor.descricaoCantor %></h5>
            <h5><strong>Estilo Principal:</strong> <span class="label label-default"><%=generoCantor%></span>
          </div>
        </div>
      </div>
    </div>      
  <div class="col-md-8">

    <div class="row">
      <div class="col-md-6">
          
      </div>
      <div class="col-md-6">
      </div>
    </div>
    <div class="row">
       <table class="table table-striped" style="margin-top: 30px;" >
        <tr>
            <th> Música </th>
            <th> Album </th>
            <th> Avaliação Média </th>
            <th> Favorito </th>
        </tr>
        
        
        <%
			 for(int i=0;i<musicas.size();i++){
				        		out.write("<tr>");
				        		out.write("<td>"+musicas.get(i).nomeMusica+"</td>");
				        		out.write("<td>" +musicas.get(i).nomeMusica+"</td>");
				        		out.write("<td> <span class='glyphicon glyphicon-star'></span>");
				        		out.write("<span class='glyphicon glyphicon-star'></span>");
				        		out.write("<span class='glyphicon glyphicon-star'></span>");
				        		out.write("<span class='glyphicon glyphicon-star'></span>");
				        		out.write("<span class='glyphicon glyphicon-star'></span>");
				        		out.write("</td>"); 
				        		out.write("  <td><a href='#' class='btn btn-danger'><i class='glyphicon glyphicon-heart'></i></a>");
				        		out.write("</td>");
				        		out.write("</tr>");
				        	}
			       %>
      </table>
    </div>
  </div>
  <div class="col-md-3 col-md-offset-1">
    <div class="row">
      <div class="row col-md-10 col-md-offset-1 text-center">
        <h4 style="margin-bottom:30px;"> Mostre seu Amor</h4>
        <h5 style="margin-bottom:20px;">Divida com todos seu conhecimento sobre <%=cantor.nomeCantor %>!</h5>
       <div class="row">
            <a href="insereData.jsp?cantor=<%=id_cantor%>" class="btn btn-block btn-primary" style="margin-bottom:60px;">Inserir Dados</span></a>
        </div>  
      </div>
      <div class="row">
              <div class="tabbable"> <!-- Only required for left/right tabs -->
              <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Top 10</a></li>
                <li><a href="#tab2" data-toggle="tab">Álbums</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                    <div class="list-group">
                    
                    <% 
                    
                    if(musicas.size()<10){
	                    for(int i=0;i<musicas.size();i++){
			        		out.write("  <a href='#' class='list-group-item'>"+musicas.get(i).nomeMusica+"<span class='badge'>"+i+"</span></a>");
			        	}
                    }
                    else{
                    	   for(int i=1;i<=10;i++){
   			        		out.write("  <a href='#' class='list-group-item'>"+musicas.get(i).nomeMusica+"<span class='badge'>"+i+"</span></a>");
   			        	}
                    }
                   
                    %>
              </div>
                </div>
                <div class="tab-pane fade" id="tab2">
                    <div class="list-group">
                   <% 
                   for(int i=0;i<albuns.size();i++){
			        		out.write("<a href='#' class='list-group-item'>"+albuns.get(i)+"</a>");
			        	}%>   
              </div>
                </div>
              </div>
            </div>
      </div>
    </div>
  </div>

<div class="row">

</div>
 <!-- Finaliza o container-fluid-->         
</div>