<section id="login">
    <div class="container">
    	<div class="row">
    	    <div class="col-xs-12">
        	    <div class="form-wrap">
                <h1>Login</h1>
                    <form role="form" action="/" method="post" id="login-form" autocomplete="off">
                        <div class="form-group">
                            <label for="email" class="sr-only" >Email</label>
                            <div class="input-group">
                        		<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            	<input type="email" name="email" class="form-control email" placeholder="Email">
							</div>    
                        </div>
                        <div class="form-group">
                            <label for="key" class="sr-only">Password</label>
                            <div class="input-group">
                        		<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            	<input type="password" name="senha" class="form-control" placeholder="Senha">
							</div>    
                        </div>
                        <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Entrar">
                    </form>
                    <hr>
        	    </div>
    		</div> <!-- /.col-xs-12 -->
    	</div> <!-- /.row -->
    </div> <!-- /.container -->
</section>